<a href="https://colab.research.google.com/github/Pushpraj98/Old-car-price-predictor/blob/main/car_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset_files/CAR DETAILS FROM CAR DEKHO (1).csv')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [ ]:

df.shape

(4340, 8)

In [ ]:
print(df['owner'].unique())
print(df['name'].unique())

['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']
['Maruti 800 AC' 'Maruti Wagon R LXI Minor' 'Hyundai Verna 1.6 SX' ...
 'Mahindra Verito 1.5 D6 BSIII'
 'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV'
 'Hyundai i20 Magna 1.4 CRDi']

In [ ]:
##check missing values
df.isnull().sum()

name             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
no_year          0
dtype: int64

In [ ]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [ ]:
df['Current Year']=2020

In [ ]:
df['no_year']=df['Current Year']- df['year']

In [ ]:
df.drop(['year'],axis=1,inplace=True)

In [ ]:
df.drop(['Current Year'],axis=1,inplace=True)

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
  
df['fuel']= label_encoder.fit_transform(df['fuel'])
df['fuel'].unique()
df['seller_type']= label_encoder.fit_transform(df['seller_type'])
df['seller_type'].unique()
df['transmission']= label_encoder.fit_transform(df['transmission'])
df['transmission'].unique()
df['owner']= label_encoder.fit_transform(df['owner'])
df['owner'].unique()
df['name']= label_encoder.fit_transform(df['name'])
df['name'].unique()

array([ 775, 1041,  505, ...,  733, 1418,  601])

In [ ]:
from sklearn.preprocessing import StandardScaler
import numpy as np

sc=StandardScaler()

# normalize all int features
col=df.columns[df.dtypes =='int64']
for i in col:
    x = df[i]
    y = np.array(x).reshape(-1,1)
    df[i] = sc.fit_transform(y)

# normalize all float features    
col=df.columns[df.dtypes =='float64']
for i in col:
    x = df[i]
    y = np.array(x).reshape(-1,1)
    df[i] = sc.fit_transform(y)  
    
print(df)

          name  selling_price  km_driven      fuel  seller_type  transmission  \
0     0.058522      -0.767746   0.081139  1.014993     0.448192      0.339276
1     0.723520      -0.638096  -0.347689  1.014993     0.448192      0.339276
2    -0.616477       0.165731   0.724381 -0.974051     0.448192      0.339276
3    -1.583975      -0.439300  -0.433455  1.014993     0.448192      0.339276
4    -1.181476      -0.093568   1.603479 -0.974051     0.448192      0.339276
...        ...            ...        ...       ...          ...           ...
4335 -0.373977      -0.162716   0.295553 -0.974051     0.448192      0.339276
4336 -0.376477      -0.162716   0.295553 -0.974051     0.448192      0.339276
4337  0.063522      -0.681313   0.359877  1.014993     0.448192      0.339276
4338 -0.926476       0.623827   0.509967 -0.974051     0.448192      0.339276
4339  1.006020      -0.482517  -0.562103  1.014993     0.448192      0.339276

         owner   no_year
0    -0.665079  1.445074
1    -0.665079  1.445074
2    -0.665079  0.258795
3    -0.665079 -0.927485
4     0.956519 -0.215717
...        ...       ...
4335  0.956519 -0.215717
4336  0.956519 -0.215717
4337  0.956519  0.970563
4338 -0.665079 -0.690229
4339 -0.665079 -0.690229

[4340 rows x 8 columns]

In [ ]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components=7) 

# New_points = pca.fit_transform(df.iloc[:,0:7])

# pca_points =pd.DataFrame(New_points, columns= ['feature 1', 'feature 2','3','4','5','6','7'])

# pca_model = pd.concat([pca_points,df.iloc[:,6]], axis = 1)



# print(pca_model)

In [ ]:
X= df.drop(columns=['selling_price']).values
y=df.iloc[:,1].values

In [ ]:
X.shape

(4340, 7)

In [ ]:
y.shape

(4340,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knn_model = KNeighborsRegressor(n_neighbors=10)
knn_model.fit(X_train, y_train)
score = knn_model.score(X_test,y_test)
print("KNN Accuracy:","{:.2f}".format(score*100),'%')

KNN Accuracy: 66.89 %

In [ ]:

from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)
score = regressor.score(X_test,y_test)
print("rf Accuracy:","{:.2f}".format(score*100),'%')

rf Accuracy: 74.70 %

In [ ]:
import pickle
# open a file, where you ant to store the data
file = open(b'RandomForestRegressor.pkl', 'wb')

# dump information to that file
pickle.dump(RandomForestRegressor, file)

In [ ]:
# import pickle
# filehandler = open(b"Fruits.obj","wb")
# pickle.dump(banana,filehandler)